.col-2{
    background-color: rgb(248, 245, 245);
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
}
.col-4{
    background-color: rgb(247, 241, 238);
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.col-6{
    background-color: rgb(255, 250, 248);
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.btn{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right:10px;
    
    
}

p{
margin-left: 20px;
}
   
  

H1{
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

H2{
    font-weight: 400;
    padding-left: 15px;
}

#email{
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 200px;
    padding-left: 100px;
    line-height: 2;
}

.avatar{
    width: 100px;
    height:100px;
    transform: translate(20px,10px);
    padding: 5px;
    
}

.wordpress{
    width: 100px;
    height: 60px;
    transform: translate(300px, 50px);
}

#from{
    text-align: left;
    font-size: small;
}